@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Silkscreen', sans-serif;
    color: white;
    font-size: 10em;
}


.navbar-load {
    background-image: linear-gradient(to right, #e80089, #00e5f1, #3c5693);
    height:30px;
    animation: load 3s linear infinite;
}

@keyframes load {
    0% {
        width: 0%;
    }
    87.5% {
        width: 100%;
    }
}

#game {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}