@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    width:100%;
    height:100%;
    background-color: black;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

h1{
    font-family: 'Silkscreen', sans-serif;
    color: white;
    font-size: 18em;
}

.navbar-load {
    background-image: linear-gradient(to right, #e80089, #00e5f1, #3c5693);
    height:125px;
    animation: load 4s linear infinite;
}

.navbar-load2 {
    background-image: linear-gradient(to left, #e80089, #00e5f1, #3c5693);
    height:125px;
    animation: load2 4s linear infinite;
}

@keyframes load {
    0% {
        width: 0%;
    }
    87.5% {
        width: 100%;
    }
}

@keyframes load2 {
    0% {
        width: 0%;
    }
    87.5% {
        width: 100%;
    }
}